@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --background-dark: 10, 10, 10;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background-color: rgb(var(--background-dark));
  background-image: url('/background-image.png');
  background-repeat: no-repeat;
  background-position: right top;
  background-attachment: fixed;
  font-family: Arial, Helvetica, sans-serif;
  min-height: 100vh;
}